
nav.navbar, 
nav.navbar * {
  font-family: 'Press Start 2P', 'Courier New', monospace !important;
  font-size: 13px; /* Tamaño coherente con otros componentes */
  letter-spacing: 1.2px;
}





.navbar-brand, .brand-text {
  color: #ff9933 !important;
  font-weight: bold;
  font-size: 1.2rem !important; /* Menos grande para igualar a otros */
  text-shadow: 0 0 6px #ff9933;
}

.nav-link {
  color: #dcdcdc !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  font-size: 13px !important;
}

.nav-link:hover,
.nav-link.active {
  color: #33ffff !important;
  text-shadow: 0 0 5px #00ff99;
}

.logo-navbar {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: drop-shadow(0 0 3px #ff9933);
  background-image: url("../../../assets/logo-arcade.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.text-white.fw-bold.ms-3 {
  font-size: 1rem;
  color: #00ff99 !important;
  text-shadow: 0 0 4px #00ff99;
} 