<div class="mayor-menor-container">
  <h1 class="titulo">Juego Mayor o Menor</h1>
  <div *ngIf="mostrarAvisoLogin" class="aviso-login">
    <span>🔒 Para guardar tu puntuación debes estar <a routerLink="/login">logueado</a> o <a routerLink="/registro">registrado</a>.</span>
  </div>
  
  <div class="bloque-puntaje">🏆 Puntaje actual: {{ puntaje }}</div>


  <div class="zona-juego">

     <div class="cartas" *ngIf="cartaActual">
      <div class="carta">
        <p>Carta actual</p>
        <img [src]="cartaActual.image" alt="Carta actual" />
      </div>


      <div class="carta" *ngIf="cartaSiguiente && finalizado">

        <p class="titulo-carta-final">Carta final</p>

        <img [src]="cartaSiguiente.image" alt="Carta final o de fallo" />
      </div>
      
    </div>
    
    <div class="botones" *ngIf="!finalizado">
      <button (click)="suponer('mayor')">Mayor 🔼</button>
      <button (click)="suponer('igual')">Igual ➖</button>
      <button (click)="suponer('menor')">Menor 🔽</button>
    </div>

    <!-- <div class="resultado" *ngIf="mensaje">
      <p [ngClass]="{ 'text-success': esCorrecto, 'text-danger': !esCorrecto }">{{ mensaje }}</p>
    </div> -->

    <div class="resultado" *ngIf="mensaje">
      <div class="mensaje-recuadro" [ngClass]="{ 'exito': esCorrecto, 'error': !esCorrecto }">
        <p>{{ mensaje }}</p>
      </div>
    </div>
    
    <div *ngIf="finalizado" class="resultado">
      <p class="bloque-final">🎮 Juego terminado</p>
      <p class="bloque-puntaje">🏁 Tu puntaje: {{ puntaje }}</p>      
      <button class="boton-reinicio" (click)="inicializarJuego()">🔁 Jugar de nuevo</button>
    </div>


  </div>

  <div class="globo-reglas">
    <h4>🎯 Reglas del juego</h4>
    <p>
      ✅ Cada acierto suma 1 punto.
      <br>
      ❌ Cada fallo termina la partida.
      <br>
      💀 Al fallar, se muestra la carta del error.
      <br>
      🏆 Al llegar a 5 puntos, el jugador gana.
    </p>
  </div>

</div>
