
.gradient-custom {
  background-image: url("../../../assets/logo-arcade.png");
  background-repeat: repeat;
  background-size: 180px 180px;
  background-position: top left;
  background-color: #0d0c1d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1rem;  /* 👈 Espacio arriba para el navbar */
  overflow: hidden;
}
.gradient-custom,
.gradient-custom * {
  font-family: 'Press Start 2P', 'Courier New', monospace !important;
}


.card {
  background: rgba(0,0,0,0.94) !important;
  border: 2.5px solid #33ffff;
  border-radius: 22px;
  box-shadow: 0 0 16px #33ffff, 0 0 32px #00ff99 inset;
  color: #fff;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 35px 25px 30px 25px;
}
.card-body {
  padding: 1.5rem !important;
  font-size: 0.9rem;
}

.form-control {
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
}

.btn {
  padding: 0.5rem 1.25rem;
  font-size: 0.95rem;
}

.btn:hover {
  background-color: #00ff99;
  color: #0d0c1d;
  border-color: #00ff99;
}
