.sobremi-section {
    min-height: 100vh;
    background-image: url("../../../assets/fondoSobreMi2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    overflow: hidden;
    /* background-color: #0d0c1d;*/
  }
  
  .sobremi-card {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    border-radius: 30px;
  }
  
  .card_landing {
    background-image: url("../../../assets/esteban.jpg"); /* Usá tu imagen real */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px #00ff99;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .card_info, .card_juego {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(46, 49, 76, 0.95);
    color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 12px #00ff99;
    z-index: 0;
    transition: 0.5s;
  }
  
  .sobremi-card:hover .card_info {
    right: -200%;
  }
  .sobremi-card:hover .card_juego {
    left: -200%;
  }
  
  .head {
    border-bottom: 1px solid #33ffff;
    margin-bottom: 10px;
  }
  
  .head .title {
    font-size: 18px;
    font-weight: bold;
    color: #ff9933;
    text-shadow: 0 0 4px #ff9933;
  }
  
  .content {
    font-size: 15px;
    line-height: 1.4;
    color: #dcdcdc;
  }
  