<section class="sobremi-section">
    <h1 class="text-center text-white mb-5 fw-bold text-uppercase">Sobre mí   </h1>
  
    <div class="sobremi-card position-relative">
  
      <!-- Imagen de fondo tipo portada -->
      <div class="card_landing"></div>
  
      <!-- Descripción personal -->
      <div class="card_info">
        <div class="head">
          <p class="title">¡Hola! Soy Esteban</p>
        </div>
        <div class="content">
          <p>
            Tengo 38 años, soy de Burzaco, Buenos Aires. Trabaje casi 10 años en la industria del turismo, aunque actualmente trabajo para un estudio de arquitectura.  <br>
            Estudié grabación y postproducción en sonido, y después de la pandemia decidí reinventarme.  <br>
            Actualmente curso la Tecnicatura Superior en Programación en la UTN, buscando ampliar mis oportunidades laborales.
          </p>
        </div>
      </div>
  
      <!-- Info del juego -->
      <div class="card_juego">
        <div class="head">
          <p class="title">Mi Juego</p>
        </div>
        <div class="content">
          <p>
            El juego está actualmente en construcción. Estoy desarrollando ideas que combinen entretenimiento y desafío mental.  
            ¡Pronto estará disponible!
          </p>
        </div>
      </div>
  
    </div>
  </section>
  